html,
body {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: black;
}

.header-logo {
    height: 28px;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.middle {
    top: 0px;
    bottom: 0px;
    margin: 0 auto;
    position: absolute;
    width: 100%
}

.middle-offset {
    position: relative;
    height: 100%;
}

.chat-header {
    position: absolute;
    right: 0;
    top: 0;
    width: 68%;
    height: 20px;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #0000000d;
}

.input-field {
    position: absolute;
    bottom: 20px;
    border: 1px solid #0000003d;
    right: 20px;
    width: calc(68vw - 50px);
    font-size: 20px;
    height: 36px;
}

.input-field-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 68%;
    height: 56px;
}

.input-field:focus {
    border: 1px solid #0000008d;
}

.current-chat {
    overflow-y: scroll;
    /* background: #a8b8db; */
    position: absolute;
    right: 0;
    top: 36px;
    width: 68%;
    bottom: 56px;
    padding-top: 30px;
}

.chats-list {
    overflow-y: scroll;
    width: 32%;
    height: 100%;
    border-right: 1px solid #0000000d;
}

/* .rce-mbox-right-notch {
    display: none;
}
.rce-mbox-left-notch {
    display: none;
} */

.rce-avatar {
    border-radius: 100px;
}

.rce-citem-avatar {
    border-bottom: 1px solid #0000000d;
}

.input-field {
    text-align: left;
}